
html {
    font-size: 16px;
    font-family: "Arial", sans-serif;
    
  }

body {
	height: 100%;
	margin: 100;
	padding: 10px;
    background-color: #eeeeee;
    display: inline-block;
    
}

.grid {
    padding-left: 0px;
    margin-left: 0px;
    
    height: 600px;
    width: 600px;
    display:inline-block;
    
    }
.image {
    
}
.panel { 
    background-color: beige;
    color: black;
    border-radius: 15px;
    
}

.header {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.25;
    background-color: rgb(51, 49, 49);
    position: fixed;
    top: 0;
    width: 100%;
    font-weight: 900;
	

  }

.header a {
    display: block;
    color: rgb(189, 189, 189);
    padding: 30px 30px;
  }

.header li {
    font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
    display: inline-table;
    text-align: right;
	position: right;
	}

.image {
	align:right;
	padding-left: 60px;
	margin:10px;
}

li {
    display:inline-block;
    width:80px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
  }
a:hover {
    color: rgb(28, 173, 35);
  }

h1 {
    color: #5e5e5e;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 60px;
    text-align: center;
    margin: 20px;
  }
  
h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 2.5;
    font-family:Georgia;
    word-spacing: 0.05em;
    letter-spacing: 0.02em;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
    color: #4C4C4C;
	
  }
  
p {
    color: grey;
    font-size: 16px;
    line-height: 48px;
    margin-top: 60px;
    padding: 10px 20px;
    
 
  }
  
#main {
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    width: 400px;
    height: 1000px;
    overflow: scroll;
  }


